{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title|default:'Blog Post - Home'}}</title>
</head>
<body>
    <h1>Hello World</h1>
    <h3><a href="{% url 'new_post' %}">Create New Post</a></h3>
    <h3><a href="{% url 'draft_post' %}">Draft Post</a></h3>
    {% for post in posts %}
        <article>
            <h2>{{post.title|title}}</h2>
            <p>Author: {{post.author}}</p>
            <p>Published Date: {{post.published}}</p>
            {% for paragraf in post.text_as_list %}
                <p>{{paragraf}}</p>
            {% endfor %}
        </article>
    {% endfor %}
</body>
</html>